In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [9]:
# Get the data, we will be working with US data only:
deaths = pd.read_csv('csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

In [11]:
#Show only the first rows:
deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,4,4,4,4,4,4,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,1,1,1,1,1,1,1,1,1,1
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,20,21,23,24,33,39,42,44,45,45
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,1,1,1,1,1,1,1,1,1,1

In [13]:
# Show the last 5 rows:
deaths.tail(5)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20
3248,84090053,US,USA,840,90053.0,Unassigned,Washington,US,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3249,84090054,US,USA,840,90054.0,Unassigned,West Virginia,US,0.0,0.0,...,0,0,0,0,1,1,1,2,2,3
3250,84090055,US,USA,840,90055.0,Unassigned,Wisconsin,US,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3251,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3252,84099999,US,USA,840,99999.0,NaN,Grand Princess,US,0.0,0.0,...,3,3,3,3,3,3,3,0,0,0

In [16]:
# Print the dimentios: so we have 3,253 places and 96 columns:
deaths.shape

(3253, 96)

In [17]:
# Columns names: we can identify time frame here: January 22 2020 to April 14 2020. 
deaths.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population',
       '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
       '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
       '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
       '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
       '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
       '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20',
       '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20',
       '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20',
       '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20',
       '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20',
       '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20',
       '4/7/20', '4/8/20', '4/9/20', '4/10/20', '4/11/20', '4/12/20',
       '4/13/20', '4/14/20'],
      dtype='object')

In [20]:
# Basic stats:
deaths.describe().T

,count,mean,std,min,25%,50%,75%,max
UID,3253.0,8.390300e+07,3.292495e+06,16.000,8.401904e+07,8.403005e+07,8.404701e+07,8.410000e+07
code3,3253.0,8.394442e+02,1.809116e+01,16.000,8.400000e+02,8.400000e+02,8.400000e+02,8.500000e+02
FIPS,3251.0,3.209093e+04,1.782515e+04,60.000,1.903800e+04,3.004500e+04,4.701000e+04,9.999900e+04
Lat,3253.0,3.718379e+01,8.623023e+00,-14.271,3.423732e+01,3.814736e+01,4.168446e+01,6.931479e+01
Long_,3253.0,-8.917422e+01,2.143864e+01,-170.132,-9.803749e+01,-8.982512e+01,-8.279357e+01,1.456739e+02
...,...,...,...,...,...,...,...,...
4/10/20,3253.0,5.711958e+00,1.055189e+02,0.000,0.000000e+00,0.000000e+00,1.000000e+00,5.820000e+03
4/11/20,3253.0,6.288657e+00,1.154803e+02,0.000,0.000000e+00,0.000000e+00,1.000000e+00,6.367000e+03
4/12/20,3253.0,6.767292e+00,1.250523e+02,0.000,0.000000e+00,0.000000e+00,1.000000e+00,6.898000e+03
4/13/20,3253.0,7.230249e+00,1.333287e+02,0.000,0.000000e+00,0.000000e+00,1.000000e+00,7.349000e+03
4/14/20,3253.0,7.937903e+00,1.436220e+02,0.000,0.000000e+00,0.000000e+00,1.000000e+00,7.905000e+03